---
import Layout from '../layouts/Layout.astro';
import About from '../components/about/About.astro'
import Techonologies from '../components/technologies/Technologies.astro'
import Projects from '../components/projects/Projects.astro'
import Contact from '../components/contact/Contact.astro'
---

<Layout title="Joams Mogro Gomez | Full Stack Developer">
	<main>
		<About />
    <Techonologies />
    <Projects />
    <Contact />
	</main>
</Layout>
